Repository odigos-io/odigos, pull requests merged in 2025-05, with the labels that each got.

#2810 feat: improve error message in TestConnection functions
  frontend/go.mod
  frontend/services/test_connection/test_connection.go
  frontend/webapp/hooks/destinations/useTestConnection.ts
Labels: enhancement, frontend

#2820 feat: enhance check-links workflow with cache
  .github/workflows/check-links.yml
Labels: cicd

#2819 Bump PHP agents to v0.0.17
  .gitignore
  docs/instrumentations/php/native.mdx
  odiglet/Dockerfile
  odiglet/Dockerfile.rhel
  odiglet/debug.Dockerfile
  odiglet/pkg/kube/runtime_details/inspection.go
  procdiscovery/pkg/inspectors/php/php.go
Labels: enhancement, php

#2784 fix: remove sources in uninstall and wait for the pods to roll out cleanly
  api/k8sconsts/resources.go
  cli/cmd/uninstall.go
  cli/pkg/log/logger.go
  docs/cli/odigos_uninstall.mdx
Labels: bug

#2824 feat: add lang detection for Redis, Postgres, Ruby, Rust
  api/config/crd/bases/odigos.io_instrumentationconfigs.yaml
  api/config/crd/bases/odigos.io_instrumentationrules.yaml
  api/config/crd/bases/odigos.io_instrumentedapplications.yaml
  common/lang_detection.go
  helm/odigos/templates/crds/odigos.io_instrumentationconfigs.yaml
  helm/odigos/templates/crds/odigos.io_instrumentationrules.yaml
  helm/odigos/templates/crds/odigos.io_instrumentedapplications.yaml
  procdiscovery/pkg/inspectors/langdetect.go
  procdiscovery/pkg/inspectors/php/php.go
  procdiscovery/pkg/inspectors/postgres/postgres.go
  procdiscovery/pkg/inspectors/redis/redis.go
  procdiscovery/pkg/inspectors/ruby/ruby.go
  procdiscovery/pkg/inspectors/rust/rust.go
  procdiscovery/pkg/process/process.go
Labels: enhancement

#2829 fix: add sources premission for helm cleanup job
  docs/permissions.mdx
  helm/odigos/templates/cleanup/cleanup-clusterrole.yaml
Labels: bug

#2833 ui: Add Dynamic Destination
  common/config/dynamic.go
  destinations/data/dynamic.yaml
  docs/backends-overview.mdx
  docs/backends/dynamic.mdx
  docs/mint.json
Labels: destinations

#2836 feat: bump PHP agents to v0.1.18
  odiglet/Dockerfile
  odiglet/Dockerfile.rhel
  odiglet/debug.Dockerfile
Labels: php

#2861 add uninstall test, upgrade simple-demo test apps
  cli/cmd/uninstall.go
  scheduler/controllers/odigosconfig/odigosconfig_controller.go
  tests/common/apply/install-simple-demo.yaml
  tests/common/assert/simple-demo-installed.yaml
  tests/common/assert/simple-demo-instrumented-full.yaml
  tests/common/assert/simple-demo-instrumented.yaml
  tests/common/assert/simple-demo-runtime-detected.yaml
  tests/common/assert_odigos_uninstalled.sh
  tests/common/queries/span-attributes-reported.yaml
  tests/common/queries/span-attributes.yaml
  tests/e2e/source/chainsaw-test.yaml
Labels: bug, cicd

#2878 feat: update PHP agent version to v0.1.21
  distros/yamls/php-community.yaml
  odiglet/Dockerfile
  odiglet/Dockerfile.rhel
  odiglet/debug.Dockerfile
  tests/common/assert/simple-demo-instrumented-full.yaml
  tests/e2e/cli-upgrade/chainsaw-test.yaml
Labels: bug, php

#2899 feat: add support for edit/delete Data Streams
  frontend/graph/generated.go
  frontend/graph/model/models_gen.go
  frontend/graph/schema.graphqls
  frontend/graph/schema.resolvers.go
  frontend/services/data_stream.go
  frontend/services/destinations.go
  frontend/webapp/app/(overview)/layout.tsx
  frontend/webapp/graphql/mutations/data-stream.ts
  frontend/webapp/graphql/mutations/index.ts
  frontend/webapp/hooks/common/useSetupHelpers.ts
  frontend/webapp/hooks/data-streams/useDataStreamsCRUD.ts
  frontend/webapp/package.json
  frontend/webapp/utils/constants/index.ts
  frontend/webapp/utils/constants/keys.ts
  frontend/webapp/yarn.lock
Labels: enhancement, frontend

#2903 fix: remove use of JAVA_OPTS for instrumentation
  cli/cmd/config.go
  common/consts/consts.go
  common/envOverwrite/overwriter.go
  common/odigos_config.go
  distros/yamls/java-community.yaml
  docs/cli/odigos_config.mdx
  helm/odigos/templates/odigos-config-cm.yaml
  helm/odigos/values.yaml
  instrumentor/internal/webhook_env_injector/webhook_env_injector.go
  profiles/aggregators/kratos.go
  profiles/allprofiles.go
  profiles/instrumentation/envvar_injection.go
  tests/common/assert/simple-demo-instrumented-full.yaml
  tests/e2e/env-injection/01-assert-apps-installed.yaml
  tests/e2e/env-injection/01-assert-env-vars.yaml
  tests/e2e/env-injection/01-assert-runtime-detected.yaml
  tests/e2e/env-injection/01-install-test-apps.yaml
  tests/e2e/env-injection/02-assert-env-vars.yaml
  tests/e2e/env-injection/03-assert-env-vars.yaml
  tests/e2e/workload-lifecycle/01-assert-runtime-detected.yaml
Labels: bug, java

#2905 fix: actions crd odigos.io/system-object has wrong key
  api/config/crd/bases/odigos.io_actions.yaml
  api/odigos/v1alpha1/action_types.go
  helm/odigos/templates/crds/odigos.io_actions.yaml
Labels: bug

#2901 feat: add support for HTTP Headers instrumentation rule in UI backend (+ add docs)
  docs/mint.json
  docs/pipeline/rules/headerscollection.mdx
  docs/pipeline/rules/introduction.mdx
  frontend/graph/generated.go
  frontend/graph/model/models_gen.go
  frontend/graph/schema.graphqls
  frontend/services/instrumentationrule.go
Labels: documentation, enhancement, frontend

#2908 feat: add default data-stream label & data-stream validation in sources webhook
  common/consts/consts.go
  frontend/webapp/package.json
  frontend/webapp/yarn.lock
  instrumentor/controllers/sources_webhooks.go
  tests/e2e/webhooks/defaulting-01-assert-source-without-labels.yaml
Labels: enhancement

#2923 fix: Data Stream bugs
  frontend/graph/conversions.go
  frontend/graph/schema.resolvers.go
  frontend/services/data_stream.go
  frontend/services/sources.go
  frontend/webapp/app/(setup)/layout.tsx
  frontend/webapp/app/(setup)/setup-summary/page.tsx
  frontend/webapp/components/lib-imports/setup-header.tsx
  frontend/webapp/graphql/queries/namespaces.ts
  frontend/webapp/hooks/common/useSetupHelpers.ts
  frontend/webapp/hooks/destinations/useDestinationCRUD.ts
  frontend/webapp/package.json
  frontend/webapp/utils/functions/sources.ts
  frontend/webapp/yarn.lock
  instrumentor/controllers/sources_webhooks.go
  tests/e2e/webhooks/defaulting-01-assert-source-without-labels.yaml
Labels: bug

#2877 feat: Data Streams
  cli/cmd/config.go
  cli/cmd/install.go
  common/consts/consts.go
  frontend/Makefile
  frontend/gqlgen.yml
  frontend/graph/conversions.go
  frontend/graph/generated.go
  frontend/graph/model/models_gen.go
  frontend/graph/schema.graphqls
  frontend/graph/schema.resolvers.go
  frontend/main.go
  frontend/services/common/source.go
  frontend/services/data_stream.go
  frontend/services/destinations.go
  frontend/services/namespaces.go
  frontend/services/sources.go
  frontend/services/utils.go
  frontend/webapp/app/(overview)/layout.tsx
  frontend/webapp/app/(setup)/choose-destination/page.tsx
  frontend/webapp/app/(setup)/choose-sources/page.tsx
  frontend/webapp/app/(setup)/choose-stream/page.tsx
  frontend/webapp/app/(setup)/layout.tsx
  frontend/webapp/app/(setup)/setup-summary/page.tsx
  frontend/webapp/components/lib-imports/overview-modals-and-drawers.tsx
  frontend/webapp/components/lib-imports/setup-header.tsx
  frontend/webapp/cypress/constants/index.ts
  frontend/webapp/cypress/e2e/01-connection.cy.ts
  frontend/webapp/cypress/e2e/02-onboarding.cy.ts
  frontend/webapp/graphql/mutations/data-stream.ts
  frontend/webapp/graphql/mutations/destination.ts
  frontend/webapp/graphql/mutations/index.ts
  frontend/webapp/graphql/queries/data-streams.ts
  frontend/webapp/graphql/queries/destination.ts
  frontend/webapp/graphql/queries/index.ts
  frontend/webapp/graphql/queries/namespaces.ts
  frontend/webapp/graphql/queries/source.ts
  frontend/webapp/hooks/common/index.ts
  frontend/webapp/hooks/common/useSetupHelpers.ts
  frontend/webapp/hooks/data-streams/index.ts
  frontend/webapp/hooks/data-streams/useDataStreamsCRUD.ts
  frontend/webapp/hooks/destinations/useDestinationCRUD.ts
  frontend/webapp/hooks/destinations/usePotentialDestinations.ts
  frontend/webapp/hooks/destinations/useTestConnection.ts
  frontend/webapp/hooks/index.ts
  frontend/webapp/hooks/namespaces/useNamespace.ts
  frontend/webapp/hooks/sources/useSourceCRUD.ts
  frontend/webapp/lib/apollo-provider.tsx
  frontend/webapp/package.json
  frontend/webapp/types/sources.ts
  frontend/webapp/utils/constants/index.ts
  frontend/webapp/utils/constants/keys.ts
  frontend/webapp/utils/constants/routes.tsx
  frontend/webapp/utils/functions/sources.ts
  frontend/webapp/yarn.lock
  instrumentor/controllers/sources_webhooks.go
  tests/e2e/webhooks/defaulting-01-assert-source-without-labels.yaml
Labels: enhancement, frontend

#2926 fix: UI favicon
  frontend/webapp/app/layout.tsx
  frontend/webapp/public/manifest.json
Labels: bug, frontend
