Repository odigos-io/odigos, pull requests merged in 2025-07, with the labels that each got.

#3116 chore: bump Ruby agent to v0.0.5
  distros/yamls/ruby-community.yaml
  odiglet/Dockerfile
  odiglet/Dockerfile.rhel
  odiglet/debug.Dockerfile
  tests/common/assert/simple-demo-instrumented-full.yaml
Labels: ruby

#3117 feat: add page for service map in UI
  frontend/webapp/app/(overview)/layout.tsx
  frontend/webapp/app/(overview)/overview/page.tsx
  frontend/webapp/app/(overview)/service-map/page.tsx
  frontend/webapp/hooks/metrics/useServiceMap.ts
  frontend/webapp/package.json
  frontend/webapp/utils/constants/props.ts
  frontend/webapp/utils/constants/routes.tsx
  frontend/webapp/yarn.lock
Labels: enhancement, frontend

#3159 chore: bump UI kit v0.0.51
  frontend/webapp/cypress/constants/index.ts
  frontend/webapp/hooks/metrics/useServiceMap.ts
  frontend/webapp/package.json
  frontend/webapp/yarn.lock
Labels: frontend, release-blocker

#3068 Odigos config hook fix
  api/k8sconsts/resources.go
  autoscaler/go.mod
  autoscaler/go.sum
  cli/cmd/install.go
  cli/cmd/pro.go
  cli/cmd/resources/README.md
  cli/cmd/resources/applyresources.go
  cli/cmd/resources/managers.go
  cli/cmd/resources/odigosconfiguration.go
  cli/cmd/resources/scheduler.go
  cli/cmd/resources/ui.go
  cli/cmd/uninstall.go
  common/consts/consts.go
  common/mount.go
  docs/instrumentations/configuration/mount-method.mdx
  docs/mint.json
  docs/permissions.mdx
  docs/pipeline/configuration.mdx
  frontend/services/config.go
  frontend/services/namespaces.go
  frontend/services/oidc.go
  frontend/services/utils.go
  helm/odigos/templates/cleanup/cleanup-role.yaml
  helm/odigos/templates/odigos-configuration-cm.yaml
  helm/odigos/templates/scheduler/role.yaml
  helm/odigos/templates/ui/deployment.yaml
  instrumentor/controllers/agentenabled/instrumentationconfig_controller.go
  instrumentor/controllers/agentenabled/pods_webhook.go
  instrumentor/controllers/agentenabled/podswebhook/env.go
  instrumentor/controllers/agentenabled/resources.go
  instrumentor/controllers/agentenabled/sync.go
  instrumentor/controllers/manager.go
  instrumentor/instrumentor.go
  k8sutils/pkg/configmaps/configmap_migration.go
  k8sutils/pkg/predicate/objectname.go
  k8sutils/pkg/utils/config_util.go
  operator/bundle/manifests/odigos-operator.clusterserviceversion.yaml
  operator/internal/controller/odigos_controller.go
  scheduler/cmd/main.go
  scheduler/controllers/clustercollectorsgroup/common.go
  scheduler/controllers/clustercollectorsgroup/manager.go
  scheduler/controllers/clustercollectorsgroup/odigosconfig_controller.go
  scheduler/controllers/clustercollectorsgroup/resource_config.go
  scheduler/controllers/nodecollectorsgroup/common.go
  scheduler/controllers/nodecollectorsgroup/manager.go
  scheduler/controllers/nodecollectorsgroup/odigosconfig_controller.go
  scheduler/controllers/odigosconfiguration/manager.go
  scheduler/controllers/odigosconfiguration/odigosconfiguration_controller.go
  scheduler/controllers/odigosconfiguration/profileutils.go
  scheduler/controllers/odigosconfiguration/utils.go
  tests/common/assert/odigos-installed.yaml
Labels: bug, operator-rbac-approved

#3163 fix: do not inject instrumentation to pod if odiglet is not ready
  cli/cmd/resources/instrumentor.go
  docs/permissions.mdx
  helm/odigos/templates/instrumentor/role.yaml
  instrumentor/controllers/agentenabled/pods_webhook.go
  instrumentor/controllers/manager.go
Labels: operator-rbac-approved

#3164 chore: bump UI deps
  frontend/webapp/package.json
  frontend/webapp/yarn.lock
Labels: bug, frontend, release-blocker

#3166 chore: update @odigos/ui-kit to v0.0.53 and do clean up in OverviewHeader
  frontend/webapp/components/lib-imports/overview-header.tsx
  frontend/webapp/package.json
  frontend/webapp/yarn.lock
Labels: bug, frontend

#3176 ci: ignore mint.json from the git status check
  .github/workflows/generated-docs.yaml
Labels: cicd

#3165 CORE-83 Not set label if device enabled
  distros/yamls/golang-community.yaml
  instrumentor/controllers/agentenabled/pods_webhook.go
  tests/common/assert/simple-demo-instrumented-full.yaml
  tests/common/assert/simple-demo-instrumented.yaml
Labels: release-blocker

#3182 chore: bump UI-Kit v0.0.56
  frontend/webapp/package.json
  frontend/webapp/yarn.lock
Labels: bug, frontend, release-blocker

#3191 chore: bump UI-Kit to v0.0.58
  frontend/webapp/.prettierrc
  frontend/webapp/components/lib-imports/setup-header.tsx
  frontend/webapp/package.json
  frontend/webapp/yarn.lock
Labels: frontend

#3195 feat: add Kubernetes RBAC resources for Central Backend
  api/k8sconsts/odigoscentral.go
  cli/cmd/resources/centralodigos/centralbackend.go
Labels: bug, release-blocker

#3207 feat: enbale k8s_cluster metrics via config in the helm
  api/config/crd/bases/odigos.io_collectorsgroups.yaml
  api/generated/odigos/applyconfiguration/odigos/v1alpha1/collectorsgroupspec.go
  api/odigos/v1alpha1/collectorsgroup_types.go
  api/odigos/v1alpha1/zz_generated.deepcopy.go
  autoscaler/controllers/clustercollector/configmap.go
  collector/builder-config.yaml
  collector/odigosotelcol/components.go
  collector/odigosotelcol/go.mod
  collector/odigosotelcol/go.sum
  common/config/root_test.go
  common/odigos_config.go
  common/pipelinegen/config_builder.go
  docs/api-reference/odigos.io.v1alpha1.mdx
  helm/odigos/templates/autoscaler/clusterrole.yaml
  helm/odigos/templates/crds/odigos.io_collectorsgroups.yaml
  helm/odigos/templates/gateway/clusterrole.yaml
  helm/odigos/templates/gateway/clusterrolebinding.yaml
  helm/odigos/templates/gateway/role.yaml
  helm/odigos/templates/odigos-configuration-cm.yaml
  helm/odigos/values.yaml
  instrumentation/go.mod
  instrumentation/go.sum
  scheduler/controllers/clustercollectorsgroup/common.go
Labels: operator-rbac-approved
