Repository odigos-io/odigos, pull requests merged in 2025-01, with the labels that each got.

#2152 [GEN-2170]: implement paginated sources for improved performance
  frontend/gqlgen.yml
  frontend/graph/generated.go
  frontend/graph/model/models_gen.go
  frontend/graph/schema.graphqls
  frontend/graph/schema.resolvers.go
  frontend/kube/watchers/destination_watcher.go
  frontend/kube/watchers/instrumentation_config_watcher.go
  frontend/kube/watchers/instrumentation_instance_watcher.go
  frontend/webapp/app/(overview)/overview/page.tsx
  frontend/webapp/containers/main/overview/overview-data-flow/build-source-nodes.ts
  frontend/webapp/containers/main/overview/overview-data-flow/get-entity-counts.ts
  frontend/webapp/containers/main/overview/overview-data-flow/index.tsx
  frontend/webapp/cypress/e2e/03-sources.cy.ts
  frontend/webapp/graphql/queries/compute-platform.ts
  frontend/webapp/hooks/compute-platform/index.ts
  frontend/webapp/hooks/compute-platform/useComputePlatform.ts
  frontend/webapp/hooks/compute-platform/usePaginatedSources.ts
  frontend/webapp/hooks/notification/useSSE.ts
  frontend/webapp/hooks/overview/useMetrics.ts
  frontend/webapp/hooks/sources/useSourceCRUD.ts
  frontend/webapp/reuseable-components/nodes-data-flow/nodes/header-node.tsx
  frontend/webapp/reuseable-components/nodes-data-flow/nodes/scroll-node.tsx
  frontend/webapp/reuseable-components/segment/index.tsx
  frontend/webapp/store/index.ts
  frontend/webapp/store/useAppStore.ts
  frontend/webapp/store/usePaginatedStore.ts
  frontend/webapp/types/compute-platform.ts
Labels: enhancement, frontend

#2154 chore: fix typo in trigger odigos enterprise
  .github/workflows/trigger-odigos-enterprise.yaml
Labels: bug, cicd

#2066 feat: add cli command to update onprem token
  .vscode/launch.json
  DEVELOPMENT.md
  cli/cmd/pro.go
  cli/cmd/resources/odigospro/consts.go
  cli/cmd/resources/odigospro/manifests.go
  cli/cmd/resources/odigospro/utils.go
  common/consts/consts.go
  k8sutils/pkg/consts/consts.go
  k8sutils/pkg/utils/tiers.go
Labels: enhancement

#2156 [GEN-2178]: fix undefined with potential destinations
  frontend/services/destination_recognition/destination_finder.go
  frontend/webapp/containers/main/destinations/add-destination/configured-destinations-list/index.tsx
  frontend/webapp/containers/main/destinations/destination-modal/choose-destination-body/destinations-list/index.tsx
  frontend/webapp/containers/main/destinations/destination-modal/choose-destination-body/destinations-list/potential-destinations-list/index.tsx
  frontend/webapp/cypress/constants/index.ts
  frontend/webapp/cypress/e2e/02-onboarding.cy.ts
  frontend/webapp/cypress/e2e/04-destinations.cy.ts
  frontend/webapp/hooks/destinations/usePotentialDestinations.ts
Labels: bug, frontend

#2160 [GEN-2175]: optimize metrics fetching based on available sources and destinations
  frontend/webapp/hooks/overview/useMetrics.ts
Labels: enhancement, frontend

#2153 chore: bump odigos otel python agent version
  agents/python/setup.py
Labels: dependencies, python

#2163 [GEN-2199] UI types linter
  frontend/webapp/components/notification/toast-list.tsx
  frontend/webapp/containers/main/destinations/destination-drawer/build-card.ts
  frontend/webapp/containers/main/destinations/destination-drawer/build-drawer-item.ts
  frontend/webapp/containers/main/destinations/destination-modal/choose-destination-body/destinations-list/index.tsx
  frontend/webapp/containers/main/destinations/destination-modal/choose-destination-body/destinations-list/potential-destinations-list/index.tsx
  frontend/webapp/containers/main/destinations/destination-modal/choose-destination-body/index.tsx
  frontend/webapp/containers/main/overview/multi-source-control/index.tsx
  frontend/webapp/containers/main/overview/overview-actions-menu/search/search-results/index.tsx
  frontend/webapp/containers/main/sources/choose-sources/choose-sources-body/choose-sources-body-fast/source-controls/index.tsx
  frontend/webapp/hooks/actions/useActionFormData.ts
  frontend/webapp/hooks/common/useGenericForm.ts
  frontend/webapp/hooks/compute-platform/useComputePlatform.ts
  frontend/webapp/hooks/destinations/useDestinationFormData.ts
  frontend/webapp/hooks/destinations/useDestinationTypes.ts
  frontend/webapp/hooks/instrumentation-rules/useInstrumentationRuleFormData.ts
  frontend/webapp/hooks/notification/useClickNotif.ts
  frontend/webapp/hooks/overview/useNodeDataFlowHandlers.ts
  frontend/webapp/hooks/sources/useSourceCRUD.ts
  frontend/webapp/reuseable-components/code/index.tsx
  frontend/webapp/reuseable-components/condition-details/index.tsx
  frontend/webapp/reuseable-components/input-table/index.tsx
  frontend/webapp/reuseable-components/nodes-data-flow/nodes/header-node.tsx
  frontend/webapp/tsconfig.json
  frontend/webapp/types/destinations.ts
  frontend/webapp/utils/functions/entities/index.ts
  frontend/webapp/utils/functions/formatters/extract-monitors/index.ts
  frontend/webapp/utils/functions/formatters/get-id-from-sse-target/index.ts
  frontend/webapp/utils/functions/icons/get-action-icon/index.ts
  frontend/webapp/utils/functions/icons/get-monitor-icon/index.ts
  frontend/webapp/utils/functions/index.ts
Labels: bug, frontend

#2116 [GEN-2149]: handle Source CRD "kind=Namespace" in UI
  frontend/graph/generated.go
  frontend/graph/model/models_gen.go
  frontend/graph/schema.graphqls
  frontend/graph/schema.resolvers.go
  frontend/services/namespaces.go
  frontend/services/sources.go
  frontend/services/utils.go
  frontend/webapp/hooks/sources/useSourceCRUD.ts
  tests/e2e/source/tracesql/wait-for-trace-2.yaml
Labels: frontend

#2165 [GEN-2177]: add awaitToast function for improved notification handling in Cypress tests
  frontend/webapp/app/layout.tsx
  frontend/webapp/containers/main/sources/choose-sources/choose-sources-body/choose-sources-body-fast/sources-list/index.tsx
  frontend/webapp/cypress/constants/index.ts
  frontend/webapp/cypress/e2e/02-onboarding.cy.ts
  frontend/webapp/cypress/e2e/03-sources.cy.ts
  frontend/webapp/cypress/e2e/04-destinations.cy.ts
  frontend/webapp/cypress/e2e/05-actions.cy.ts
  frontend/webapp/cypress/e2e/06-rules.cy.ts
  frontend/webapp/cypress/functions/index.ts
  frontend/webapp/reuseable-components/notification-note/index.tsx
Labels: frontend, cicd

#2191 chore: update dependabot configuration to include yarn package ecosystem
  .github/dependabot.yml
Labels: cicd

#2190 [GEN-2203]: add dropdown direction handling to open upwards when near bottom of the viewport
  frontend/webapp/reuseable-components/dropdown/index.tsx
Labels: bug, frontend

#2185 [GEN-2214]: add Tier and InstallationMethod fields to Describe Odigos
  frontend/graph/generated.go
  frontend/graph/model/models_gen.go
  frontend/graph/schema.graphqls
  frontend/services/describe/odigos_describe/odigos_describe.go
  frontend/webapp/graphql/queries/describe.ts
  frontend/webapp/hooks/describe/useDescribeOdigos.ts
  frontend/webapp/types/describe.ts
Labels: enhancement, frontend

#2175 [GEN-2185]: add API read-token with GraphQL queries and update CLI drawer to display tokens in UI
  frontend/gqlgen.yml
  frontend/graph/common.go
  frontend/graph/generated.go
  frontend/graph/model/models_gen.go
  frontend/graph/schema.graphqls
  frontend/graph/schema.resolvers.go
  frontend/webapp/assets/icons/common/copy-icon.tsx
  frontend/webapp/assets/icons/common/index.ts
  frontend/webapp/assets/icons/common/key-icon.tsx
  frontend/webapp/assets/icons/common/terminal-icon.tsx
  frontend/webapp/components/main/header/index.tsx
  frontend/webapp/components/notification/notification-manager.tsx
  frontend/webapp/components/overview/all-drawers/cli-drawer.tsx
  frontend/webapp/components/overview/all-drawers/describe-drawer.tsx
  frontend/webapp/components/overview/all-drawers/index.tsx
  frontend/webapp/graphql/queries/compute-platform.ts
  frontend/webapp/graphql/queries/index.ts
  frontend/webapp/hooks/common/index.ts
  frontend/webapp/hooks/common/useCopy.ts
  frontend/webapp/reuseable-components/code/index.tsx
  frontend/webapp/reuseable-components/data-card/data-card-fields/index.tsx
  frontend/webapp/reuseable-components/index.ts
  frontend/webapp/reuseable-components/interactive-table/index.tsx
  frontend/webapp/store/useDrawerStore.ts
  frontend/webapp/types/compute-platform.ts
  frontend/webapp/utils/constants/string.tsx
  frontend/webapp/utils/functions/formatters/safe-json-parse/index.ts
Labels: enhancement, frontend

#2195 chore: update frontend dependencies
  frontend/webapp/components/overview/all-drawers/cli-drawer.tsx
  frontend/webapp/hooks/common/useOnClickOutside.ts
  frontend/webapp/package.json
  frontend/webapp/reuseable-components/badge/index.tsx
  frontend/webapp/reuseable-components/data-tab/index.tsx
  frontend/webapp/reuseable-components/fade-loader/index.tsx
  frontend/webapp/reuseable-components/interactive-table/index.tsx
  frontend/webapp/reuseable-components/monitoring-checkboxes/index.tsx
  frontend/webapp/utils/constants/monitors.tsx
  frontend/webapp/yarn.lock
Labels: dependencies, frontend

#2188 [GEN-2208]: fix destination field handling for "multi input"
  frontend/webapp/containers/main/destinations/destination-form-body/dynamic-fields/index.tsx
  frontend/webapp/hooks/destinations/useDestinationFormData.ts
Labels: bug, frontend

#2186 [GEN-2209]: fix delete button logic in input lists
  frontend/webapp/reuseable-components/input-list/index.tsx
  frontend/webapp/reuseable-components/input-table/index.tsx
  frontend/webapp/reuseable-components/key-value-input-list/index.tsx
Labels: bug, frontend

#2198 Update API Token from the UI
  Makefile
  cli/cmd/describe.go
  cli/cmd/pro.go
  cli/cmd/resources/ui.go
  frontend/graph/generated.go
  frontend/graph/schema.graphqls
  frontend/graph/schema.resolvers.go
  frontend/main.go
  frontend/services/describe.go
  frontend/services/pro.go
  frontend/webapp/components/overview/all-drawers/cli-drawer.tsx
  frontend/webapp/containers/main/overview/overview-drawer/index.tsx
  frontend/webapp/graphql/mutations/index.ts
  frontend/webapp/graphql/mutations/token.ts
  frontend/webapp/hooks/compute-platform/useComputePlatform.ts
  frontend/webapp/hooks/index.ts
  frontend/webapp/hooks/tokens/index.ts
  frontend/webapp/hooks/tokens/useTokenCRUD.ts
  frontend/webapp/store/useNotificationStore.ts
  k8sutils/pkg/consts/consts.go
  k8sutils/pkg/pro/common.go
Labels: enhancement, frontend

#2208 [GEN-2187]: notify in UI about expiring/expired token
  frontend/webapp/app/(overview)/overview/page.tsx
  frontend/webapp/components/main/header/index.tsx
  frontend/webapp/components/overview/all-drawers/cli-drawer.tsx
  frontend/webapp/hooks/notification/useSSE.ts
  frontend/webapp/hooks/tokens/index.ts
  frontend/webapp/hooks/tokens/useTokenTracker.ts
  frontend/webapp/reuseable-components/status/index.tsx
  frontend/webapp/store/useConnectionStore.ts
  frontend/webapp/store/useNotificationStore.ts
  frontend/webapp/styles/theme.ts
  frontend/webapp/utils/constants/index.tsx
  frontend/webapp/utils/constants/numbers.ts
  frontend/webapp/utils/functions/resolvers/index.ts
  frontend/webapp/utils/functions/resolvers/is-over-time/index.ts
  frontend/webapp/utils/functions/resolvers/is-within-time/index.ts
Labels: enhancement, frontend

#2211 [GEN-2169]: adjust title visibility for sources in overview
  frontend/webapp/containers/main/overview/overview-drawer/drawer-header/index.tsx
  frontend/webapp/hooks/notification/useSSE.ts
  frontend/webapp/hooks/tokens/useTokenCRUD.ts
  frontend/webapp/reuseable-components/data-tab/index.tsx
  frontend/webapp/reuseable-components/text/index.tsx
Labels: frontend

#2226 fix: z-index for dropdown component
  frontend/webapp/reuseable-components/dropdown/index.tsx
Labels: bug, frontend

#2233 [GEN-2227]: fix namespace selection logic in useSourceFormData hook
  frontend/webapp/hooks/sources/useSourceFormData.ts
Labels: bug, frontend

#2234 [GEN-2226]: replace DefaultOdigosNamespace constant with dynamic GetCurrentNamespace function
  frontend/graph/schema.resolvers.go
  frontend/main.go
  frontend/services/actions/addclusterinfo.go
  frontend/services/actions/deleteattribute.go
  frontend/services/actions/errorsampler.go
  frontend/services/actions/latencysampler.go
  frontend/services/actions/piimasking.go
  frontend/services/actions/probabilisticsampler.go
  frontend/services/actions/renameattribute.go
  frontend/services/destinations.go
  frontend/services/instrumentationrule.go
  frontend/services/namespaces.go
Labels: bug, frontend

#2236 [GEN-2224] add "mutable" and "profileName" fields to InstrumentationRule model
  frontend/graph/generated.go
  frontend/graph/model/models_gen.go
  frontend/graph/schema.graphqls
  frontend/services/instrumentationrule.go
  frontend/webapp/containers/main/instrumentation-rules/rule-drawer/build-card.ts
  frontend/webapp/containers/main/instrumentation-rules/rule-drawer/build-drawer-item.ts
  frontend/webapp/containers/main/instrumentation-rules/rule-drawer/index.tsx
  frontend/webapp/graphql/queries/compute-platform.ts
  frontend/webapp/types/instrumentation-rules.ts
  frontend/webapp/utils/constants/string.tsx
Labels: bug, enhancement, frontend

#2237 [GEN-2221]: fix Connection & Token header-status
  frontend/services/sse/sse.go
  frontend/webapp/components/main/header/index.tsx
  frontend/webapp/components/overview/all-drawers/cli-drawer.tsx
  frontend/webapp/hooks/notification/useSSE.ts
  frontend/webapp/hooks/tokens/useTokenTracker.ts
  frontend/webapp/store/index.ts
  frontend/webapp/store/useConnectionStore.ts
  frontend/webapp/store/useStatusStore.ts
  frontend/webapp/utils/constants/string.tsx
Labels: bug, frontend

#2242 [GEN-2231]: apply logic with DisableInstrumentation for namespace and workload sources instrumentation via UI
  frontend/graph/schema.resolvers.go
  frontend/services/namespaces.go
  frontend/services/sources.go
  frontend/webapp/hooks/sources/useSourceCRUD.ts
Labels: bug, frontend

#2240 [GEN-2228]: update drawer components to reselect items based on fetched data
  frontend/webapp/containers/main/actions/action-drawer/index.tsx
  frontend/webapp/containers/main/destinations/destination-drawer/index.tsx
  frontend/webapp/containers/main/instrumentation-rules/rule-drawer/index.tsx
  frontend/webapp/containers/main/sources/source-drawer-container/index.tsx
  frontend/webapp/reuseable-components/monitors-icons/index.tsx
Labels: bug, frontend

#2075 Fix Gigapipe Features
  README.md
Labels: destinations

#2259 [GEN-2132]: remove old `uninstall` from docs
  docs/mint.json
  docs/telemetry-types.mdx
  docs/uninstall.mdx
Labels: documentation

#2260 [GEN-2232]: remove outdated docs, and update current docs for instrumentation
  docs/data/golang.mdx
  docs/data/javascript.mdx
  docs/data/otel-apis.mdx
  docs/data/python.mdx
  docs/instrumentations/dotnet/enrichment.mdx
  docs/instrumentations/dotnet/native.mdx
  docs/instrumentations/golang/ebpf.mdx
  docs/instrumentations/golang/enrichment.mdx
  docs/instrumentations/java/ebpf.mdx
  docs/instrumentations/java/enrichment.mdx
  docs/instrumentations/java/native.mdx
  docs/instrumentations/nodejs/ebpf.mdx
  docs/instrumentations/nodejs/enrichment.mdx
  docs/instrumentations/nodejs/native.mdx
  docs/instrumentations/overview.mdx
  docs/instrumentations/python/enrichment.mdx
  docs/instrumentations/python/native.mdx
  docs/mint.json
  docs/snippets/ebpf-kernel-version-note.mdx
  docs/snippets/enrichment-intro.mdx
  docs/snippets/languages-card.mdx
Labels: documentation

#2261 [GEN-2233]: enhance AddEntity component with dropdown hover functionality and style updates
  frontend/webapp/components/overview/add-entity/index.tsx
Labels: frontend

#2239 [GEN-2222]: add instrumentation-rule for code attributes
  frontend/graph/generated.go
  frontend/graph/model/models_gen.go
  frontend/graph/schema.graphqls
  frontend/services/instrumentationrule.go
  frontend/webapp/assets/icons/rules/code-attributes-icon.tsx
  frontend/webapp/assets/icons/rules/index.ts
  frontend/webapp/containers/main/actions/action-modal/index.tsx
  frontend/webapp/containers/main/instrumentation-rules/rule-drawer/build-drawer-item.ts
  frontend/webapp/containers/main/instrumentation-rules/rule-form-body/custom-fields/code-attributes.tsx
  frontend/webapp/containers/main/instrumentation-rules/rule-form-body/custom-fields/index.tsx
  frontend/webapp/containers/main/instrumentation-rules/rule-form-body/custom-fields/payload-collection.tsx
  frontend/webapp/containers/main/instrumentation-rules/rule-modal/index.tsx
  frontend/webapp/containers/main/instrumentation-rules/rule-modal/rule-options.ts
  frontend/webapp/cypress/constants/index.ts
  frontend/webapp/cypress/e2e/06-rules.cy.ts
  frontend/webapp/cypress/functions/cy-alias.ts
  frontend/webapp/cypress/functions/index.ts
  frontend/webapp/graphql/queries/compute-platform.ts
  frontend/webapp/hooks/describe/useDescribeOdigos.ts
  frontend/webapp/hooks/instrumentation-rules/useInstrumentationRuleFormData.ts
  frontend/webapp/hooks/sources/useSourceCRUD.ts
  frontend/webapp/reuseable-components/auto-complete-input/index.tsx
  frontend/webapp/reuseable-components/navigation-buttons/index.tsx
  frontend/webapp/types/instrumentation-rules.ts
  frontend/webapp/types/sources.ts
  frontend/webapp/utils/constants/string.tsx
  frontend/webapp/utils/functions/icons/get-rule-icon/index.ts
  frontend/webapp/utils/functions/resolvers/index.ts
  frontend/webapp/utils/functions/resolvers/is-enterprise/index.ts
  frontend/webapp/utils/functions/strings/derive-type-from-rule/index.ts
Labels: enhancement, frontend

#2279 Docs cleanup
  .github/workflows/check-links.yml
  docs/adding-new-dest.mdx
  docs/instrumentations/overview.mdx
  docs/pipeline/sources/introduction.mdx
  docs/telemetry-types.mdx
Labels: documentation, cicd

#2238 Add Source CRD docs
  docs/architecture/sources.mdx
  docs/custom-resources.mdx
  docs/pipeline/sources/adding-sources.mdx
  docs/pipeline/sources/source-configuration.mdx
  docs/pipeline/sources/troubleshooting.mdx
  docs/setup/installation-options.mdx
  docs/setup/odigos-with-argocd.mdx
Labels: documentation

#2087 [GEN-2123]: add Traceloop destination support and documentation
  README.md
  common/config/root.go
  common/config/traceloop.go
  common/dests.go
  destinations/data/traceloop.yaml
  destinations/logos/traceloop.svg
  docs/backends-overview.mdx
  docs/backends/traceloop.mdx
  docs/mint.json
Labels: destinations

#2285 Backend docs edits
  destinations/data/betterstack.yaml
  destinations/data/hyperdx.yaml
  destinations/data/kloudmate.yaml
  docs/adding-new-dest.mdx
  docs/backends-overview.mdx
  docs/backends/appdynamics.mdx
  docs/backends/awss3.mdx
  docs/backends/axiom.mdx
  docs/backends/azureblob.mdx
  docs/backends/betterstack.mdx
  docs/backends/causely.mdx
  docs/backends/chronosphere.mdx
  docs/backends/clickhouse.mdx
  docs/backends/coralogix.mdx
  docs/backends/dash0.mdx
  docs/backends/datadog.mdx
  docs/backends/dynatrace.mdx
  docs/backends/elasticapm.mdx
  docs/backends/elasticsearch.mdx
  docs/backends/gigapipe.mdx
  docs/backends/googlecloudmonitoring.mdx
  docs/backends/grafanacloudloki.mdx
  docs/backends/grafanacloudprometheus.mdx
  docs/backends/grafanacloudtempo.mdx
  docs/backends/groundcover.mdx
  docs/backends/honeycomb.mdx
  docs/backends/hyperdx.mdx
  docs/backends/jaeger.mdx
  docs/backends/kloudmate.mdx
  docs/backends/last9.mdx
  docs/backends/lightstep.mdx
  docs/backends/logzio.mdx
  docs/backends/loki.mdx
  docs/backends/lumigo.mdx
  docs/backends/middleware.mdx
  docs/backends/newrelic.mdx
  docs/backends/opsverse.mdx
  docs/backends/otlp.mdx
  docs/backends/otlphttp.mdx
  docs/backends/prometheus.mdx
  docs/backends/qryn.mdx
  docs/backends/quickwit.mdx
  docs/backends/signoz.mdx
  docs/backends/splunk.mdx
  docs/backends/sumologic.mdx
  docs/backends/tempo.mdx
  docs/backends/traceloop.mdx
  docs/backends/uptrace.mdx
  docs/sync-dest-doc.py
Labels: documentation

#2246 fix: migration also cleanup odigos additions from manifest-original-e…
  instrumentor/runtimemigration/runtimemigration.go
  k8sutils/pkg/envoverwrite/origenv.go
Labels: bug

#2299 [GEN-2239]: sources header node - display "filtered / total" counts
  frontend/webapp/containers/main/overview/overview-data-flow/build-source-nodes.ts
  frontend/webapp/reuseable-components/nodes-data-flow/nodes/header-node.tsx
Labels: enhancement, frontend

#2300 [GEN-2251]: add tooltip to metrics (aka labeled edges)
  frontend/webapp/reuseable-components/nodes-data-flow/edges/labeled-edge.tsx
Labels: enhancement, frontend

#2306 [GEN-2273]: add `--ui-mode` flag to `install` & `upgrade` commands
  cli/cmd/install.go
  cli/cmd/resources/ui.go
  cli/cmd/upgrade.go
  common/odigos_config.go
  docs/cli/odigos_install.mdx
  docs/cli/odigos_upgrade.mdx
  helm/odigos/templates/odigos-config-cm.yaml
  helm/odigos/templates/ui/clusterrole.yaml
  helm/odigos/templates/ui/role.yaml
  helm/odigos/values.yaml
Labels: enhancement

#2309 [GEN-2275]: get UI-mode from Odigos config-map, and apply to GraphQL config in UI
  frontend/graph/generated.go
  frontend/graph/model/models_gen.go
  frontend/graph/schema.graphqls
  frontend/graph/schema.resolvers.go
  frontend/services/config.go
  frontend/webapp/app/page.tsx
  frontend/webapp/graphql/queries/config.ts
  frontend/webapp/hooks/config/useConfig.ts
  frontend/webapp/types/common.ts
Labels: enhancement, frontend

#2315 [GEN-2279]: block mutations in UI-backend, for readonly mode
  frontend/graph/schema.resolvers.go
  frontend/services/config.go
Labels: enhancement, frontend

#2311 [GEN-2276]: disable create/update/delete mutations in UI with readonly mode
  cli/cmd/upgrade.go
  frontend/webapp/app/page.tsx
  frontend/webapp/cypress/e2e/02-onboarding.cy.ts
  frontend/webapp/hooks/actions/useActionCRUD.ts
  frontend/webapp/hooks/compute-platform/useNamespace.ts
  frontend/webapp/hooks/destinations/useDestinationCRUD.ts
  frontend/webapp/hooks/destinations/useTestConnection.ts
  frontend/webapp/hooks/instrumentation-rules/useInstrumentationRuleCRUD.ts
  frontend/webapp/hooks/sources/useSourceCRUD.ts
  frontend/webapp/hooks/tokens/useTokenCRUD.ts
  frontend/webapp/lib/gql/apollo-wrapper.tsx
  frontend/webapp/lib/gql/client.ts
  frontend/webapp/package.json
  frontend/webapp/utils/constants/string.tsx
  frontend/webapp/yarn.lock
Labels: enhancement, frontend

#2319 Generate CLI docs
  .github/workflows/crd-api-docs.yaml
  .github/workflows/generated-docs.yaml
  Makefile
  cli/cmd/cloud.go
  cli/cmd/describe.go
  cli/cmd/diagnose.go
  cli/cmd/install.go
  cli/cmd/logout.go
  cli/cmd/profile.go
  cli/cmd/root.go
  cli/cmd/ui.go
  cli/cmd/uninstall.go
  cli/cmd/upgrade.go
  cli/cmd/version.go
  docs/cli/odigos.mdx
  docs/cli/odigos_cloud.mdx
  docs/cli/odigos_cloud_login.mdx
  docs/cli/odigos_cloud_logout.mdx
  docs/cli/odigos_cloud_update.mdx
  docs/cli/odigos_describe.mdx
  docs/cli/odigos_describe_source.mdx
  docs/cli/odigos_describe_source_daemonset.mdx
  docs/cli/odigos_describe_source_deployment.mdx
  docs/cli/odigos_describe_source_statefulset.mdx
  docs/cli/odigos_diagnose.mdx
  docs/cli/odigos_install.mdx
  docs/cli/odigos_pro.mdx
  docs/cli/odigos_profile.mdx
  docs/cli/odigos_profile_add.mdx
  docs/cli/odigos_profile_remove.mdx
  docs/cli/odigos_ui.mdx
  docs/cli/odigos_uninstall.mdx
  docs/cli/odigos_upgrade.mdx
  docs/cli/odigos_version.mdx
  docs/mint.json
  scripts/cli-docgen/go.mod
  scripts/cli-docgen/go.sum
  scripts/cli-docgen/main.go
Labels: documentation

#2320 [GEN-2234]: auto-generate Node.js (native) instrumentation dependencies and versions
  .github/workflows/backends-docs-sync.yaml
  .github/workflows/generated-docs.yaml
  docs/cli/odigos.mdx
  docs/cli/odigos_cloud.mdx
  docs/cli/odigos_cloud_login.mdx
  docs/cli/odigos_cloud_logout.mdx
  docs/cli/odigos_cloud_update.mdx
  docs/cli/odigos_describe.mdx
  docs/cli/odigos_describe_source.mdx
  docs/cli/odigos_describe_source_daemonset.mdx
  docs/cli/odigos_describe_source_deployment.mdx
  docs/cli/odigos_describe_source_statefulset.mdx
  docs/cli/odigos_diagnose.mdx
  docs/cli/odigos_install.mdx
  docs/cli/odigos_pro.mdx
  docs/cli/odigos_profile.mdx
  docs/cli/odigos_profile_add.mdx
  docs/cli/odigos_profile_remove.mdx
  docs/cli/odigos_ui.mdx
  docs/cli/odigos_uninstall.mdx
  docs/cli/odigos_upgrade.mdx
  docs/cli/odigos_version.mdx
  docs/instrumentations/dotnet/native.mdx
  docs/instrumentations/nodejs/enrichment.mdx
  docs/instrumentations/nodejs/native.mdx
  docs/package.json
  docs/requirements.txt
  docs/sync-instru-doc.py
  scripts/cli-docgen/main.go
Labels: documentation

#2302 [GEN-2270]: Write "otelServiceName" to Source CRD in UI
  cli/cmd/resources/README.md
  cli/cmd/resources/ui.go
  frontend/graph/conversions.go
  frontend/graph/generated.go
  frontend/graph/model/models_gen.go
  frontend/graph/schema.graphqls
  frontend/graph/schema.resolvers.go
  frontend/main.go
  frontend/services/sources.go
  frontend/services/utils.go
  frontend/webapp/containers/main/overview/overview-actions-menu/search/search-results/builder.ts
  frontend/webapp/containers/main/sources/choose-sources/choose-source-modal/index.tsx
  frontend/webapp/containers/main/sources/source-drawer-container/build-drawer-item.ts
  frontend/webapp/containers/main/sources/source-drawer-container/index.tsx
  frontend/webapp/containers/main/sources/update-source-body/index.tsx
  frontend/webapp/cypress/e2e/03-sources.cy.ts
  frontend/webapp/graphql/queries/compute-platform.ts
  frontend/webapp/lib/gql/apollo-wrapper.tsx
  frontend/webapp/types/sources.ts
  frontend/webapp/utils/functions/strings/get-entity-label/index.ts
  helm/odigos/templates/ui/clusterrole.yaml
Labels: enhancement, frontend

#2321 [GEN-2281]: add badge indicating "readonly mode" in UI
  frontend/webapp/components/main/header/index.tsx
  frontend/webapp/containers/main/overview/overview-data-flow/build-source-nodes.ts
  frontend/webapp/reuseable-components/badge/index.tsx
  frontend/webapp/utils/constants/string.tsx
Labels: enhancement, frontend

#2324 add profiles directory to trigger paths
  .github/workflows/trigger-odigos-enterprise.yaml
Labels: cicd

#2332 revert: remove reported name annotation from tests
  tests/e2e/workload-lifecycle/02-update-workload-manifests.yaml
  tests/e2e/workload-lifecycle/chainsaw-test.yaml
Labels: bug, cicd

#2335 ci: run golanglint only on PR (removed push to main)
  .github/workflows/check-links.yml
  .github/workflows/golangci-lint.yml
Labels: cicd

#2336 ci: edit dependabot config
  .github/dependabot.yml
Labels: cicd

#2342 [GEN-2297]: fix patch permission for sources in UI
  cli/cmd/resources/README.md
  cli/cmd/resources/ui.go
  frontend/webapp/cypress/e2e/03-sources.cy.ts
  helm/odigos/templates/ui/clusterrole.yaml
Labels: bug

#2345 [GEN-2293] feat: central backend flag on install
  cli/cmd/install.go
  common/odigos_config.go
  docs/cli/odigos_install.mdx
  helm/odigos/templates/odigos-config-cm.yaml
  helm/odigos/values.yaml
Labels: enhancement

#2344 fix: add ability to delete validatingwebhookconfigurations from helm
  helm/odigos/templates/cleanup/cleanup-clusterrole.yaml
Labels: bug

#2346 [GEN-2294] Odigos set config cli command
  cli/cmd/config.go
  docs/cli/odigos.mdx
  docs/cli/odigos_config.mdx
  docs/cli/odigos_config_set.mdx
  helm/odigos/templates/ui/deployment.yaml
Labels: enhancement
