Repository odigos-io/odigos, pull requests merged in 2025-08, with the labels that each got.

#3212 CORE-98 Init container support
  .github/workflows/build.yaml
  .github/workflows/e2e.yaml
  Makefile
  api/k8sconsts/init-container.go
  cli/cmd/config.go
  cli/cmd/install.go
  cli/cmd/resources/instrumentor.go
  cli/cmd/resources/resourcemanager/resourcemanager.go
  common/mount.go
  docs/instrumentations/configuration/mount-method.mdx
  docs/setup/docker-registry.mdx
  helm/odigos/templates/instrumentor/deployment.yaml
  helm/odigos/templates/odigos-configuration-cm.yaml
  helm/odigos/values.yaml
  instrumentor/controllers/agentenabled/pods_webhook.go
  instrumentor/controllers/agentenabled/podswebhook/mount.go
  operator/config/crd/bases/operator.odigos.io_odigos.yaml
  scheduler/controllers/odigosconfiguration/odigosconfiguration_controller.go
  tests/e2e/mount-method/chainsaw-test.yaml
  tests/e2e/mount-method/simple-demo-instrumented.yaml
Labels: operator-rbac-approved

#3273 feat: add security headers to HTTP server for enhanced protection
  frontend/main.go
  frontend/middlewares/gin.go
  frontend/webapp/package.json
  frontend/webapp/yarn.lock
Labels: frontend

#3279 feat: source-drawer libraries
  frontend/graph/generated.go
  frontend/graph/model/models_gen.go
  frontend/graph/schema.graphqls
  frontend/graph/schema.resolvers.go
  frontend/services/sources.go
  frontend/webapp/components/lib-imports/overview-modals-and-drawers.tsx
  frontend/webapp/graphql/queries/source.ts
  frontend/webapp/hooks/describe/useDescribe.ts
  frontend/webapp/hooks/sources/useSourceCRUD.ts
  frontend/webapp/package.json
  frontend/webapp/yarn.lock
Labels: enhancement, frontend

#3283 feat: disable destinations
  api/config/crd/bases/odigos.io_destinations.yaml
  api/generated/odigos/applyconfiguration/odigos/v1alpha1/destinationspec.go
  api/odigos/v1alpha1/destination_types.go
  api/odigos/v1alpha1/zz_generated.deepcopy.go
  autoscaler/controllers/clustercollector/configmap.go
  docs/api-reference/odigos.io.v1alpha1.mdx
  frontend/graph/generated.go
  frontend/graph/model/models_gen.go
  frontend/graph/schema.graphqls
  frontend/graph/schema.resolvers.go
  frontend/services/destinations.go
  frontend/webapp/components/lib-imports/setup-header.tsx
  frontend/webapp/graphql/mutations/destination.ts
  frontend/webapp/graphql/queries/destination.ts
  frontend/webapp/package.json
  frontend/webapp/yarn.lock
  helm/odigos/templates/crds/odigos.io_destinations.yaml
Labels: enhancement

#3302 fix: update demo video links in README and mint.json
  README.md
  docs/mint.json
Labels: documentation

#3328 fix: prevent duplicate instrumentation instance components
  frontend/graph/schema.resolvers.go
Labels: bug, frontend

#3388 [RUN-125] use runtime-detector v0.0.19
  instrumentation/go.mod
  instrumentation/go.sum
  odiglet/go.mod
  odiglet/go.sum
Labels: release-blocker
