Repository odigos-io/odigos, pull requests merged in 2025-09, with the labels that each got.

#3417 chore: update @odigos/ui-kit to version 0.0.100 (font/styles fix)
  frontend/webapp/app/(overview)/layout.tsx
  frontend/webapp/app/(setup)/choose-destination/page.tsx
  frontend/webapp/app/(setup)/choose-sources/page.tsx
  frontend/webapp/app/(setup)/choose-stream/page.tsx
  frontend/webapp/app/(setup)/setup-summary/page.tsx
  frontend/webapp/components/styled.tsx
  frontend/webapp/package.json
  frontend/webapp/yarn.lock
Labels: frontend

#3410 fix: prevent back to overview on first onboarding
  frontend/webapp/components/lib-imports/setup-header.tsx
  frontend/webapp/cypress/e2e/02-onboarding.cy.ts
  frontend/webapp/hooks/common/useSetupHelpers.ts
  frontend/webapp/hooks/config/useConfig.ts
Labels: frontend

#3405 feat: add Destination watcher and update notifications
  frontend/kube/watchers/destination_watcher.go
  frontend/main.go
  frontend/webapp/cypress/constants/index.ts
  frontend/webapp/cypress/e2e/04-destinations.cy.ts
  frontend/webapp/hooks/data-streams/useDataStreamsCRUD.ts
  frontend/webapp/hooks/destinations/useDestinationCRUD.ts
  frontend/webapp/hooks/notification/useSSE.ts
  frontend/webapp/hooks/sources/useSourceCRUD.ts
Labels: enhancement, frontend

#3461 Refactor: Remove deprecated odigos-instrumentation label system
  cli/cmd/describe.go
  cli/cmd/resources/README.md
  cli/cmd/uninstall.go
  cli/go.mod
  cli/pkg/deprecated_envoverwrite/cleanupenv.go
  cli/pkg/deprecated_envoverwrite/origenv.go
  common/consts/consts.go
  docs/cli/odigos_describe.mdx
  docs/permissions.mdx
  docs/pipeline/sources/introduction.mdx
  e2e-test.sh
  helm/odigos/templates/cleanup/cleanup-role.yaml
  instrumentor/README.md
  instrumentor/controllers/manager.go
  instrumentor/controllers/sourceinstrumentation/instrumentationconfig_controller.go
  instrumentor/controllers/sourceinstrumentation/instrumentationconfig_controller_test.go
  instrumentor/controllers/workloadmigrations/controllers.go
  instrumentor/controllers/workloadmigrations/manager.go
  instrumentor/internal/testutil/helpers.go
  k8sutils/pkg/workload/workload.go
  scripts/cli-docgen/go.mod
  tests/e2e/source/README.md
  tests/e2e/source/chainsaw-test.yaml
Labels: operator-rbac-approved

#3450 feat: UI migration to Generic Action CRD
  cli/cmd/resources/README.md
  cli/cmd/resources/ui.go
  docs/permissions.mdx
  frontend/graph/conversions.go
  frontend/graph/generated.go
  frontend/graph/model/models_gen.go
  frontend/graph/schema.graphqls
  frontend/graph/schema.resolvers.go
  frontend/services/action.go
  frontend/services/actions/addclusterinfo.go
  frontend/services/actions/constants.go
  frontend/services/actions/deleteattribute.go
  frontend/services/actions/errorsampler.go
  frontend/services/actions/k8sattributes.go
  frontend/services/actions/latencysampler.go
  frontend/services/actions/piimasking.go
  frontend/services/actions/probabilisticsampler.go
  frontend/services/actions/renameattribute.go
  frontend/services/actions/servicenamesampler.go
  frontend/services/actions/spanattributessampler.go
  frontend/services/utils.go
  frontend/webapp/cypress/constants/index.ts
  frontend/webapp/cypress/e2e/05-actions.cy.ts
  frontend/webapp/graphql/mutations/action.ts
  frontend/webapp/graphql/queries/actions.ts
  frontend/webapp/hooks/actions/useActionCRUD.ts
  frontend/webapp/hooks/destinations/useDestinationCRUD.ts
  frontend/webapp/hooks/instrumentation-rules/useInstrumentationRuleCRUD.ts
  frontend/webapp/package.json
  frontend/webapp/types/actions.ts
  frontend/webapp/utils/functions/actions.ts
  frontend/webapp/utils/functions/index.ts
  frontend/webapp/yarn.lock
  helm/odigos/templates/ui/role.yaml
Labels: frontend, operator-rbac-approved

#3462 CORE-251: clean up node labels in cleanup job
  cli/cmd/uninstall.go
  docs/permissions.mdx
  helm/odigos/templates/cleanup/cleanup-clusterrole.yaml
  tests/common/assert_odigos_uninstalled.sh
Labels: operator-rbac-approved

#3557 fix: take runtime details overrides into account in sdk config calculation
  api/odigos/v1alpha1/instrumentationconfig_types.go
  instrumentor/controllers/agentenabled/sync.go
  instrumentor/controllers/instrumentationconfig/common.go
  instrumentor/controllers/instrumentationconfig/common_test.go
  instrumentor/controllers/instrumentationconfig/manager.go
Labels: bug
