Repository odigos-io/odigos, pull requests merged in 2025-06, with the labels that each got.

#2963 chore: bump go-logr to v1.4.3
  api/go.mod
  api/go.sum
  autoscaler/go.mod
  autoscaler/go.sum
  cli/go.mod
  cli/go.sum
  collector/exporters/azureblobstorageexporter/go.mod
  collector/exporters/azureblobstorageexporter/go.sum
  collector/exporters/googlecloudstorageexporter/go.mod
  collector/exporters/googlecloudstorageexporter/go.sum
  collector/exporters/mockdestinationexporter/go.mod
  collector/exporters/mockdestinationexporter/go.sum
  collector/internal/tools/go.mod
  collector/internal/tools/go.sum
  collector/odigosotelcol/go.mod
  collector/odigosotelcol/go.sum
  collector/processors/odigosconditionalattributes/go.mod
  collector/processors/odigosconditionalattributes/go.sum
  collector/processors/odigossamplingprocessor/go.mod
  collector/processors/odigossamplingprocessor/go.sum
  collector/processors/odigossourcesfilterprocessor/go.mod
  collector/processors/odigossourcesfilterprocessor/go.sum
  collector/processors/odigossqldboperationprocessor/go.mod
  collector/processors/odigossqldboperationprocessor/go.sum
  collector/processors/odigostrafficmetrics/go.mod
  collector/processors/odigostrafficmetrics/go.sum
  collector/processors/odigosurltemplateprocessor/go.mod
  collector/processors/odigosurltemplateprocessor/go.sum
  collector/providers/odigosk8scmprovider/go.mod
  collector/providers/odigosk8scmprovider/go.sum
  common/go.mod
  common/go.sum
  destinations/go.mod
  destinations/go.sum
  distros/go.mod
  distros/go.sum
  frontend/go.mod
  frontend/go.sum
  instrumentation/go.mod
  instrumentation/go.sum
  instrumentor/go.mod
  instrumentor/go.sum
  k8sutils/go.mod
  k8sutils/go.sum
  odiglet/go.mod
  odiglet/go.sum
  opampserver/go.mod
  opampserver/go.sum
  operator/go.mod
  operator/go.sum
  procdiscovery/go.mod
  procdiscovery/go.sum
  profiles/go.mod
  profiles/go.sum
  scheduler/go.mod
  scheduler/go.sum
  scripts/cli-docgen/go.mod
  scripts/cli-docgen/go.sum
  scripts/rbac-docgen/go.mod
  scripts/rbac-docgen/go.sum
Labels: dependencies

#2967 fix: PR links in release CI
  .github/workflows/publish-modules.yml
Labels: bug, cicd

#2982 chore: bump UI Kit to 0.0.37
  frontend/webapp/package.json
  frontend/webapp/yarn.lock
Labels: frontend

#2999 feat: add workload rollout restarts to UI
  frontend/graph/generated.go
  frontend/graph/schema.graphqls
  frontend/graph/schema.resolvers.go
  frontend/services/sources.go
  frontend/services/utils.go
  frontend/webapp/app/(overview)/overview/page.tsx
  frontend/webapp/app/(overview)/sources/page.tsx
  frontend/webapp/components/lib-imports/overview-modals-and-drawers.tsx
  frontend/webapp/graphql/mutations/source.ts
  frontend/webapp/hooks/sources/index.ts
  frontend/webapp/hooks/sources/useWorkloadUtils.ts
  frontend/webapp/package.json
  frontend/webapp/yarn.lock
Labels: enhancement, frontend

#3000 fix: RBAC for UI
  cli/cmd/resources/README.md
  cli/cmd/resources/ui.go
  docs/permissions.mdx
  frontend/graph/schema.resolvers.go
  helm/odigos/templates/ui/clusterrole.yaml
Labels: bug

#3008 feat: add CronJob sources to UI
  cli/cmd/resources/README.md
  cli/cmd/resources/ui.go
  docs/permissions.mdx
  frontend/graph/conversions.go
  frontend/graph/model/models_gen.go
  frontend/graph/schema.graphqls
  frontend/graph/schema.resolvers.go
  frontend/services/namespaces.go
  frontend/services/sources.go
  frontend/services/utils.go
  helm/odigos/templates/ui/clusterrole.yaml
Labels: enhancement, frontend

#3027 fix: check-links
  docs/backends/clickhouse.mdx
  docs/instrumentations/dotnet/native.mdx
Labels: documentation, cicd

#3029 feat: runtime override via UI
  frontend/graph/conversions.go
  frontend/graph/generated.go
  frontend/graph/model/models_gen.go
  frontend/graph/schema.graphqls
  frontend/graph/schema.resolvers.go
  frontend/webapp/graphql/queries/source.ts
  frontend/webapp/package.json
  frontend/webapp/yarn.lock
Labels: enhancement, frontend

#3050 feat: runtime override indication in UI
  common/lang_detection.go
  frontend/graph/conversions.go
  frontend/graph/generated.go
  frontend/graph/model/models_gen.go
  frontend/graph/schema.graphqls
  frontend/webapp/graphql/queries/source.ts
  frontend/webapp/package.json
  frontend/webapp/yarn.lock
Labels: enhancement, frontend

#3053 fix: destination modified events
  frontend/kube/watchers/destination_watcher.go
  frontend/main.go
  frontend/webapp/hooks/data-streams/useDataStreamsCRUD.ts
  frontend/webapp/hooks/destinations/useDestinationCRUD.ts
Labels: bug

#3041 document about datastreams
  docs/mint.json
  docs/pipeline/datastreams.mdx
  docs/pipeline/sources/create.mdx
Labels: documentation

#3083 chore: bump ui-kit to version 0.0.47
  frontend/webapp/package.json
  frontend/webapp/yarn.lock
Labels: frontend

#2972 feat: add support for optional OIDC/OAuth2 in UI
  cli/cmd/config.go
  cli/cmd/install.go
  cli/cmd/resources/ui.go
  common/consts/consts.go
  common/odigos_config.go
  docs/cli/odigos_config.mdx
  docs/cli/odigos_install.mdx
  frontend/.vscode/settings.json
  frontend/go.mod
  frontend/go.sum
  frontend/graph/common.go
  frontend/graph/schema.resolvers.go
  frontend/main.go
  frontend/middlewares/gin.go
  frontend/middlewares/gql.go
  frontend/services/config.go
  frontend/services/oidc.go
  frontend/services/utils.go
  helm/odigos/templates/odigos-config-cm.yaml
  helm/odigos/templates/ui/secret.yaml
  helm/odigos/values.yaml
  operator/bundle/manifests/odigos-operator.clusterserviceversion.yaml
  operator/bundle/manifests/operator.odigos.io_odigos.yaml
  operator/config/crd/bases/operator.odigos.io_odigos.yaml
  operator/config/manifests/bases/odigos-operator.clusterserviceversion.yaml
Labels: enhancement, frontend

#3095 docs: fix typos
  cli/cmd/config.go
  docs/cli/odigos_config.mdx
  docs/features/oidc.mdx
Labels: documentation
